* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  text-align: center;
  background-color: #081B33;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-header{
  margin-bottom: 0.5em;
}

.items {
  height: 40vh;
  overflow: scroll;
}

ul{
  list-style: none;
  width: 100%;
}

li{
  font-size: 0.8em;
  border-radius: 0.5em;
  width: 100%;
  padding: 0.5em;
  margin: 0.5em 0;
  text-align: left;
  background:#152642;
}

li:hover { 
  background: #2F4562;
}

input {
  background: #152642;
  color: white;
  width: 100%;
  padding: 0.5em;
  border-radius: 0.5em;
}

.Timer-buttons-container{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.Timer-btn {
  padding: 0.5em;
  border-radius: 0.5em;
  color: white;
  width: 12em;
}

.start-btn{
  background:  #152642 ;
}

.stop-btn {
  background:#ff6961;
}

.start-btn:hover {
  background:  #2F4562;
}


input:focus { outline: none; }

@media only screen and (max-width: 600px) {
  *{
    font-size: 14px;
  }
  .Timer-buttons-container{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .Timer-btn {
    margin: 0.5em;
  }

  .items {
    height: 20vh;
    overflow: scroll;
  }
  .App-header{
    display: none;
  }
}